<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046391219452-1bj6mr60ac76dmjs74bhe4av0he11lnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046391219452-1bj6mr60ac76dmjs74bhe4av0he11lnp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1046391219452-2chv1q1ssuhl399lbouifpro9n861hrj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7Fia5MVeGBaD9Z1vWKd6KN00cPTlOSY4</string>
	<key>GCM_SENDER_ID</key>
	<string>1046391219452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onldoccAdmin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chungchunon-android-dd695</string>
	<key>STORAGE_BUCKET</key>
	<string>chungchunon-android-dd695.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046391219452:ios:eaa4ebbb5160bff10de379</string>
	<key>DATABASE_URL</key>
	<string>https://chungchunon-android-dd695-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>